@page
@using Week6Demo.Models

@inject IRestaurantService RestaurantService

@{
    Layout = "_Layout";
    var restaurants = await RestaurantService.GetAllAsync();
}


<div class="container">
    <div class="row restaurants">
        @foreach (var rest in restaurants)
        {
            <div class="restaurant col-md-4">

                @if (rest.Image != null)
                {
                    <img class="img-thumbnail" height="150" width="150" src="@rest.GetInlineImageSrc()" />
                }
                else
                {

                    <img class="img-thumbnail" height="150" width="150" src="@rest.ImageUrl" />
                }

                <h3><a asp-page="/Restaurant" asp-route-id="@rest.ID">@rest.Name</a> </h3>



            </div>
        }
    </div>
</div>


