@page
@model Week6Demo.Pages.Admin.AddEditRestaurantModel
@{
    ViewData["Title"] = "AddEditRestaurant";
}

<h2>AddEditRestaurant</h2>

<form method="post">
    <div class="form-group">
        <label>

        </label>
    </div>
</form>