@page "{id?}"
@model Week6Demo.Pages.Admin.AddEditRestaurantModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "AddEditRestaurant";
}

<h2>AddEditRestaurant</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Restaurant.Name" class="col-md-2 control-label"></label>
        <input asp-for="Restaurant.Name" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="Restaurant.Description" class="col-md-2 control-label"></label>
        <textarea rows="5" asp-for="Restaurant.Description" class="form-control"></textarea>

    </div>


    <div class="form-group">
        <label asp-for="Restaurant.MenuItems" class="col-md-2 control-label"></label>
        <textarea rows="5" asp-for="Restaurant.MenuItems" class="form-control"></textarea>

    </div>



    <div class="form-group">
        <label asp-for="Restaurant.StarRating" class="col-md-2 control-label"></label>
        <input asp-for="Restaurant.StarRating" class="form-control" />

    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" asp-page-handler="Delete" class="btn btn-primary">Delete</button>

</form>
